.featured {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.featuredItem {
  position: relative;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  height: auto;
  z-index: 1;
}

.featuredImg {
  width: 100%;
  object-fit: cover;
}

.featuredTitles {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.featuredTitles h1 {
  font-size: 26px;
  margin: 0;
  padding: 0;
}

.featuredTitles h2 {
  font-size: 18px;
  margin: 0;
  padding: 0;
}
